body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  border-radius: 0px;
}

.navbar a {
  color: white;
}

.navbar-brand a {
  color: white;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

span.img-loader {
  display: inline-block;
  background-image: url("/ajax-loader.gif");
  height: 1em;
  width: 1em;
}