@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed');

body {
	margin: 0;
	padding: 0;
	font-family: "Encode Sans Semi Condensed", sans-serif;
	background-image: url('/images/bg.jpg');
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #000;
}

#root {
	min-height: 100%;
}
