body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

.active {
  text-decoration: none;
  color: #ccc;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.PhotoCard {
  margin-bottom: 5px;
}
