.navbar {
  padding: 0;
}

.navbar-fixed-left {
  min-width: 16.666667%;
  position: fixed;
  border-radius: 0;
  height: 100%;
  z-index: 1000;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  min-width: 16.666667%;
  padding-left: -20px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

.side-navlink {
  padding: 10px 12% 10px 0;
  display: block;
}

.navbar-brand {
  margin: 0 auto;
  color: #ffd700 !important;;
}

.first.side-navlink {
  border-top: 1px solid #fff;
}

.side-navlink {
  color: #fff;
  text-decoration: none;
  text-indent: 10px;
  border-bottom: 1px solid #fff;
}

.side-navlink:hover, .active {
  background-color: #ffd700;
  color: #200075 !important;
  text-decoration: none !important;
}
